<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ide.todoapp">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:name=".data.datasource.viewmmodel.ToDoAplication"
        android:allowBackup="true"
        android:icon="@mipmap/todo_appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/todo_appicon_foround"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoApp">
        <activity
            android:name=".presentation.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.ToDoApp"/>
        <activity
            android:name=".presentation.SignInActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".presentation.TODOActivity"
            android:exported="false"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme"
            >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>